%h3 All Elections
%br


%table{:style=>"text-align:center"}
  %tr
    %th Name
    %th Date
    %th Selected
    %th
    %th
    %th

  - @elections.each do |election|
    %tr
      %td{:style=>"padding-right:6px;padding-left:6px"}= election.name
      %td{:style=>"padding-right:6px;padding-left:6px"}= election.day
      %td{:style=>"padding-right:6px;padding-left:6px;font-weight:bold;"}= (election.id == Selection.all[0].eid ? "&lowast;".html_safe : "" )
      %td{:style=>"padding-right:6px;padding-left:6px"}= link_to 'Select', {:select => true, :id => election.id}
      %td{:style=>"padding-right:6px;padding-left:6px"}= link_to 'Show', election
      %td{:style=>"padding-right:6px;padding-left:6px"}= link_to 'Destroy', election, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Election', new_election_path
