%p#notice= notice

.row
  .span4
    %h3
      Voter Transaction Record 
  .span4
    %b= button_to "Download XML", "#{Rails.root}/app/views/voter_transaction_records/"+voter_transaction_records_path(format: 'xml')

%table
  %tr
    %td{:style=>"font-weight:bold;padding-right:10px;padding-bottom:6px;"}
      Voter:
    %td{:style=>"padding-bottom:6px;"}= @voter_transaction_record.voter+(@voter_transaction_record.vtype.length > 0 ? " (Type: "+@voter_transaction_record.vtype+")" : "")
  %tr
    %td{:style=>"font-weight:bold;padding-right:10px;padding-bottom:6px;"}
      Date:
    %td{:style=>"padding-bottom:6px;"}= @voter_transaction_record.datime
  %tr
    %td{:style=>"font-weight:bold;padding-right:10px;padding-bottom:6px;"}
      Action:
    %td{:style=>"padding-bottom:6px;"}= @voter_transaction_record.action
  %tr
    %td{:style=>"font-weight:bold;padding-right:10px;padding-bottom:6px;"}
      Form:
    %td{:style=>"padding-bottom:6px;"}= @voter_transaction_record.form
  %tr
    %td{:style=>"font-weight:bold;padding-right:10px;padding-bottom:6px;"}
      LEO:
    %td{:style=>"padding-bottom:6px;"}= @voter_transaction_record.leo
  %tr
    %td{:style=>"font-weight:bold;padding-right:10px;padding-bottom:10px;"}
      Note:
    %td{:style=>"padding-bottom:10px;"}= @voter_transaction_record.note

%table
  - @voter_transaction_record.to_voter_xml_spaced().each do |vtr|
    %tr
      %td= vtr

%br

= link_to 'Back', voter_transaction_records_path
