%p#notice= notice

%h3
  Election
%br

%p
  %b Eid:
  = @selection.eid
%p
  %b Ename:
  = @selection.ename

%br

= link_to 'Edit', edit_selection_path(@selection)
\|
= link_to 'Back', selections_path
